<!DOCTYPE html>
<html lang="se">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css">

 <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">

    <title>@ViewData["Title"] | Moment 2</title> 
  </head>
    <header>
        <div class="headerdiv">
        <h1>Böcker</h1>
    <nav>
        <ul>
            <li class="headerLi"><a asp-controller="Home" asp-action="Index">Start</a></li>   
            <li class="headerLi"><a asp-controller="Home" asp-action="Books">Böcker</a></li>   
            <li class="headerLi"><a asp-controller="Home" asp-action="About">Om Sidan</a></li>   
        </ul>
    </nav>
    </div>
    </header>
  <body>
    <div>
    @RenderBody()

    </div>  <footer>
        <h2>DT191G | Moment 2 | ASP.NET Core MVC</h2>
    <h2>Sara Girke</h3>
  </footer>
  </body>

</html>
