@{
ViewData["Title"] ="Om Sidan";
}

<h2>Om sidan</h2>


    <div class="start">
    <p> Dagens datum: 
    @ViewBag.Message </p>
     
     <p>
        Denna sida är byggd på MVC-designmönster. 
        För att skapa webbplatsen har models, controllers och view använts. 
        Data sparas i en json-fil och skrivs sedan ut på startsidan. 
        
     </p>

        </div>
